.main-container {
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: grid;
    grid-template-columns: 20% auto 20%
}

.side-container {
    width: 100%;
    display: grid;
}

.center-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 10% auto;
}

.center-cell-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cell {
    background-color: blueviolet;
    border-style: solid;
    /* height: 100%; */
    /* width: 100%; */
}

.card {
    background-color: purple;
    border-style: solid;
    height: 50px;
    width: 50px;
}